<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="renderer" content="webkit" />
  <title>登录 - Demo</title>
  <link rel="stylesheet" href="/npm/amazeui/dist/css/amazeui.min.css">
  <link rel="stylesheet" href="/static/style/common.css">
  <link rel="stylesheet" href="/static/style/page/login.css">
</head>

<body>

  <div class="header">
    <div class="am-g">
      <div class="sys-title am-cf">
        {#<img class="logoimg" alt="logo" src="{{ctx.ossroot}}/material/common/logo.png?x-oss-process=image/resize,m_mfit,w_200" />#}
        <div class="titletxt">
          <h1>xxx管理系统</h1> </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="am-g">
    <div class="am-u-lg-4 am-u-md-6 am-u-sm-centered">
      <form class="am-form am-form-horizontal">
        <div class="am-form-group">
          <label for="useraccount" class="am-u-sm-3 am-form-label">用户名</label>
          <div class="am-u-sm-9">
            <input type="text" id="useraccount" class="firstfocus next" placeholder="输入你的用户名" required />
          </div>
        </div>
        <div class="am-form-group">
          <label for="password" class="am-u-sm-3 am-form-label">密码</label>
          <div class="am-u-sm-9">
            <input type="password" id="password" class="next" placeholder="输入你的密码" required/>
          </div>
        </div>
        <div class="am-form-group">
          <div class="am-u-sm-9 am-u-sm-offset-3">
            <button type="submit" class="next btn-login am-btn am-btn-primary">
              <i class="am-icon-spinner am-icon-spin am-hide"></i> 登录
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br/>
  <div class="footer am-g">
    <div class="am-u-lg-4 am-u-md-6 am-u-sm-centered">
      <hr>
      <p>Copyright (C) 2017 xxxxx. All rights reserved</p>
    </div>
  </div>

  <script src="/npm/jquery/dist/jquery.min.js"></script>
  <script src="/npm/amazeui/dist/js/amazeui.min.js"></script>
  <script src="/static/script/bus.js"></script>
  <script src="/static/script/page/login.js"></script>
</body>

</html>
