<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="renderer" content="webkit" />
  <title>后台Demo</title>
  <link rel="stylesheet" href="/npm/amazeui/dist/css/amazeui.min.css"> {#
  <link rel="stylesheet" href="/npm/amazeui-datatables/dist/amazeui.datatables.min.css" />#}
  <link rel="stylesheet" href="/npm/datatables.net-dt/css/jquery.dataTables.css" />
  <link rel="stylesheet" href="/npm/datatables.net-fixedcolumns-dt/css/fixedColumns.dataTables.css" />
  <link rel="stylesheet" href="/static/style/common.css">
</head>

<body>
  <table id="example" class="datatable stripe row-border order-column" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>年龄</th>
        {#
        <th>电话</th>
        <th>公司</th>
        <th>生日</th>
        <th>住址</th>
        <th>email</th>
        <th>操作</th>#}
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <script src="/npm/jquery/dist/jquery.min.js"></script>
  <script src="/npm/amazeui/dist/js/amazeui.min.js"></script>
  {#
  <script src="/npm/amazeui-datatables/dist/amazeui.datatables.min.js"></script>#}
  <script src="/npm/datatables.net/js/jquery.dataTables.js"></script>
  <script src="/npm/datatables.net-fixedcolumns/js/dataTables.fixedColumns.js"></script>
  <script src="/static/script/page/tabledemo.js"></script>
</body>

</html>
